/*CSS Reset*/

* {
	margin:  0;
	padding: 0;
	box-sizing: border-box;
}

/*Google Fonts*/
/*alternative the sans-serif if it didnt work the Open Sans*/
body {
	font-family: 'Open Sans', sans-serif;

}

/*Navigation Bar*/
nav {
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;

}

nav .nav, nav .nav-logo {
	margin: 0.5rem;
	display: inline;
}

/*Navagation Bar End*/

/*Intro Section*/

#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

.header {
	text-align: center;
}

#intro h2, #intro p {
	margin-bottom: 1rem;
}


#intro button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}

/*Intro Section End*/


/*Succeed Info Section*/
#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;

	/*if you want to select all TRBL*/
	/*padding: 2rem 10% 3rem 10%;*/
}

#succeed-info h2 {
	margin-bottom: 1rem;

}

#succeed-info h3 {
	text-align: center;
	margin-bottom: 1rem;
}

#succeed-info .card {
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}


/*Succeed Info Section end */

/*footer*/
footer {
	padding: 0.7rem;
	text-align: left;
}

footer span {
	margin-left: 0.5rem;
	margin-right:0.5rem ;
}

/*Footer End*/

/*Pre-footer section*/

#pre-footer {
	background-color: #002540;
	color: white;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 0.8rem;
	padding-bottom: 2rem;

}

#pre-footer .pf-foot {
	display: inline-block;
	vertical-align: top;
	margin-left: 0.5rem;
	margin-right:0.5rem ;
	width: 20%;


}



/*Pre-footer section end*/



